In [56]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [57]:
df = pd.read_csv("dataset.zip", engine='pyarrow',dtype_backend='pyarrow')
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,<NA>,<NA>,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,<NA>,<NA>,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,<NA>,1981.0,<NA>,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,<NA>,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,<NA>,1997.0,<NA>,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,<NA>,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,<NA>,-37.81188,144.88449,Western Metropolitan,6543.0

In [58]:
pd.__version__

'2.1.2'

In [59]:
df.shape

(13580, 21)

In [60]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [61]:
df.all

<bound method DataFrame.all of               Suburb           Address  Rooms Type      Price Method  \
0         Abbotsford      85 Turner St      2    h  1480000.0      S
1         Abbotsford   25 Bloomburg St      2    h  1035000.0      S
2         Abbotsford      5 Charles St      3    h  1465000.0     SP
3         Abbotsford  40 Federation La      3    h   850000.0     PI
4         Abbotsford       55a Park St      4    h  1600000.0     VB
...              ...               ...    ...  ...        ...    ...
13575  Wheelers Hill      12 Strada Cr      4    h  1245000.0      S
13576   Williamstown     77 Merrett Dr      3    h  1031000.0     SP
13577   Williamstown       83 Power St      3    h  1170000.0      S
13578   Williamstown      96 Verdon St      4    h  2500000.0     PI
13579     Yarraville        6 Agnes St      4    h  1285000.0     SP

        SellerG        Date  Distance  Postcode  ...  Bathroom  Car  Landsize  \
0        Biggin   3/12/2016       2.5    3067.0  ...       1.0  1.0     202.0
1        Biggin   4/02/2016       2.5    3067.0  ...       1.0  0.0     156.0
2        Biggin   4/03/2017       2.5    3067.0  ...       2.0  0.0     134.0
3        Biggin   4/03/2017       2.5    3067.0  ...       2.0  1.0      94.0
4        Nelson   4/06/2016       2.5    3067.0  ...       1.0  2.0     120.0
...         ...         ...       ...       ...  ...       ...  ...       ...
13575     Barry  26/08/2017      16.7    3150.0  ...       2.0  2.0     652.0
13576  Williams  26/08/2017       6.8    3016.0  ...       2.0  2.0     333.0
13577     Raine  26/08/2017       6.8    3016.0  ...       2.0  4.0     436.0
13578   Sweeney  26/08/2017       6.8    3016.0  ...       1.0  5.0     866.0
13579   Village  26/08/2017       6.3    3013.0  ...       1.0  1.0     362.0

       BuildingArea  YearBuilt  CouncilArea Lattitude  Longtitude  \
0              <NA>       <NA>        Yarra -37.79960   144.99840
1              79.0     1900.0        Yarra -37.80790   144.99340
2             150.0     1900.0        Yarra -37.80930   144.99440
3              <NA>       <NA>        Yarra -37.79690   144.99690
4             142.0     2014.0        Yarra -37.80720   144.99410
...             ...        ...          ...       ...         ...
13575          <NA>     1981.0         <NA> -37.90562   145.16761
13576         133.0     1995.0         <NA> -37.85927   144.87904
13577          <NA>     1997.0         <NA> -37.85274   144.88738
13578         157.0     1920.0         <NA> -37.85908   144.89299
13579         112.0     1920.0         <NA> -37.81188   144.88449

                       Regionname Propertycount
0           Northern Metropolitan        4019.0
1           Northern Metropolitan        4019.0
2           Northern Metropolitan        4019.0
3           Northern Metropolitan        4019.0
4           Northern Metropolitan        4019.0
...                           ...           ...
13575  South-Eastern Metropolitan        7392.0
13576        Western Metropolitan        6380.0
13577        Western Metropolitan        6380.0
13578        Western Metropolitan        6380.0
13579        Western Metropolitan        6543.0

[13580 rows x 21 columns]>

In [62]:
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [63]:
df.count

<bound method DataFrame.count of               Suburb           Address  Rooms Type      Price Method  \
0         Abbotsford      85 Turner St      2    h  1480000.0      S
1         Abbotsford   25 Bloomburg St      2    h  1035000.0      S
2         Abbotsford      5 Charles St      3    h  1465000.0     SP
3         Abbotsford  40 Federation La      3    h   850000.0     PI
4         Abbotsford       55a Park St      4    h  1600000.0     VB
...              ...               ...    ...  ...        ...    ...
13575  Wheelers Hill      12 Strada Cr      4    h  1245000.0      S
13576   Williamstown     77 Merrett Dr      3    h  1031000.0     SP
13577   Williamstown       83 Power St      3    h  1170000.0      S
13578   Williamstown      96 Verdon St      4    h  2500000.0     PI
13579     Yarraville        6 Agnes St      4    h  1285000.0     SP

        SellerG        Date  Distance  Postcode  ...  Bathroom  Car  Landsize  \
0        Biggin   3/12/2016       2.5    3067.0  ...       1.0  1.0     202.0
1        Biggin   4/02/2016       2.5    3067.0  ...       1.0  0.0     156.0
2        Biggin   4/03/2017       2.5    3067.0  ...       2.0  0.0     134.0
3        Biggin   4/03/2017       2.5    3067.0  ...       2.0  1.0      94.0
4        Nelson   4/06/2016       2.5    3067.0  ...       1.0  2.0     120.0
...         ...         ...       ...       ...  ...       ...  ...       ...
13575     Barry  26/08/2017      16.7    3150.0  ...       2.0  2.0     652.0
13576  Williams  26/08/2017       6.8    3016.0  ...       2.0  2.0     333.0
13577     Raine  26/08/2017       6.8    3016.0  ...       2.0  4.0     436.0
13578   Sweeney  26/08/2017       6.8    3016.0  ...       1.0  5.0     866.0
13579   Village  26/08/2017       6.3    3013.0  ...       1.0  1.0     362.0

       BuildingArea  YearBuilt  CouncilArea Lattitude  Longtitude  \
0              <NA>       <NA>        Yarra -37.79960   144.99840
1              79.0     1900.0        Yarra -37.80790   144.99340
2             150.0     1900.0        Yarra -37.80930   144.99440
3              <NA>       <NA>        Yarra -37.79690   144.99690
4             142.0     2014.0        Yarra -37.80720   144.99410
...             ...        ...          ...       ...         ...
13575          <NA>     1981.0         <NA> -37.90562   145.16761
13576         133.0     1995.0         <NA> -37.85927   144.87904
13577          <NA>     1997.0         <NA> -37.85274   144.88738
13578         157.0     1920.0         <NA> -37.85908   144.89299
13579         112.0     1920.0         <NA> -37.81188   144.88449

                       Regionname Propertycount
0           Northern Metropolitan        4019.0
1           Northern Metropolitan        4019.0
2           Northern Metropolitan        4019.0
3           Northern Metropolitan        4019.0
4           Northern Metropolitan        4019.0
...                           ...           ...
13575  South-Eastern Metropolitan        7392.0
13576        Western Metropolitan        6380.0
13577        Western Metropolitan        6380.0
13578        Western Metropolitan        6380.0
13579        Western Metropolitan        6543.0

[13580 rows x 21 columns]>

In [64]:
df.dtypes

Suburb           string[pyarrow]
Address          string[pyarrow]
Rooms             int64[pyarrow]
Type             string[pyarrow]
Price            double[pyarrow]
Method           string[pyarrow]
SellerG          string[pyarrow]
Date             string[pyarrow]
Distance         double[pyarrow]
Postcode         double[pyarrow]
Bedroom2         double[pyarrow]
Bathroom         double[pyarrow]
Car              double[pyarrow]
Landsize         double[pyarrow]
BuildingArea     double[pyarrow]
YearBuilt        double[pyarrow]
CouncilArea      string[pyarrow]
Lattitude        double[pyarrow]
Longtitude       double[pyarrow]
Regionname       string[pyarrow]
Propertycount    double[pyarrow]
dtype: object

# String Value Manipulation

In [65]:
df.select_dtypes('string').describe().T

             count unique                    top  freq
Suburb       13580    314              Reservoir   359
Address      13580  13378           5 Charles St     3
Type         13580      3                      h  9449
Method       13580      5                      S  9022
SellerG      13580    268                 Nelson  1565
Date         13580     58             27/05/2017   473
CouncilArea  12211     33               Moreland  1163
Regionname   13580      8  Southern Metropolitan  4695

In [66]:
(
    df
    .select_dtypes('string')
    .memory_usage(deep=True)
    .sum()
)

1395941

In [67]:
(
    df
    .select_dtypes('string')
    .astype('category')
    .memory_usage(deep=True)
    .sum()
)

943059

In [68]:
(
    df
    .isna()
    .mean()
    .mul(100)
    .pipe(lambda ser: ser[ser > 0])
)

Car              0.456554
BuildingArea    47.496318
YearBuilt       39.580265
CouncilArea     10.081001
dtype: float64

In [69]:
(
    df
    .select_dtypes('string')
    .isna()
    .mean()
    .mul(100)
    .pipe(lambda ser: ser[ser > 0])
)

CouncilArea    10.081001
dtype: float64

In [70]:
df['CouncilArea'].fillna('Not Applicable', inplace=True)

In [71]:
df['CouncilArea'].count()

13580

In [72]:
# anther method of replace NAN string

(
    df
    .assign(
        **df.select_dtypes('string').replace('','Not Applicable'))
)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,<NA>,<NA>,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,<NA>,<NA>,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,<NA>,1981.0,Not Applicable,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,Not Applicable,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,<NA>,1997.0,Not Applicable,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,Not Applicable,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,Not Applicable,-37.81188,144.88449,Western Metropolitan,6543.0

In [73]:
(
    df
    .Type
    .value_counts()
)

Type
h    9449
u    3017
t    1114
Name: count, dtype: int64[pyarrow]

# Number Value Manipulation

In [74]:
df.select_dtypes('float').describe().T

,count,mean,std,min,25%,50%,75%,max
Price,13580.0,1.075684e+06,639310.724296,85000.00000,650000.000000,903000.000000,1.330000e+06,9.000000e+06
Distance,13580.0,1.013778e+01,5.868725,0.00000,6.100000,9.200000,1.300000e+01,4.810000e+01
Postcode,13580.0,3.105302e+03,90.676964,3000.00000,3044.000000,3084.000000,3.148000e+03,3.977000e+03
Bedroom2,13580.0,2.914728e+00,0.965921,0.00000,2.000000,3.000000,3.000000e+00,2.000000e+01
Bathroom,13580.0,1.534242e+00,0.691712,0.00000,1.000000,1.000000,2.000000e+00,8.000000e+00
Car,13518.0,1.610075e+00,0.962634,0.00000,1.000000,2.000000,2.000000e+00,1.000000e+01
Landsize,13580.0,5.584161e+02,3990.669241,0.00000,177.000000,440.000000,6.510000e+02,4.330140e+05
BuildingArea,7130.0,1.519676e+02,541.014538,0.00000,93.000000,126.000000,1.740000e+02,4.451500e+04
YearBuilt,8205.0,1.964684e+03,37.273762,1196.00000,1940.000000,1970.000000,1.999000e+03,2.018000e+03
Lattitude,13580.0,-3.780920e+01,0.079260,-38.18255,-37.856822,-37.802355,-3.775640e+01,-3.740853e+01
Longtitude,13580.0,1.449952e+02,0.103916,144.43181,144.929600,145.000100,1.450583e+02,1.455264e+02
Propertycount,13580.0,7.454417e+03,4378.581772,249.00000,4380.000000,6555.000000,1.033100e+04,2.165000e+04

In [75]:
(
    df
    .select_dtypes('float')
    .isna()
    .sum()
    # .pipe( lambda ser : ser >0)
)

Price               0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
Lattitude           0
Longtitude          0
Propertycount       0
dtype: int64

In [76]:
(
    df.query('`BuildingArea`.isna()')
)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,<NA>,<NA>,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,<NA>,<NA>,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
5,Abbotsford,129 Charles St,2,h,941000.0,S,Jellis,7/05/2016,2.5,3067.0,...,1.0,0.0,181.0,<NA>,<NA>,Yarra,-37.80410,144.99530,Northern Metropolitan,4019.0
8,Abbotsford,6/241 Nicholson St,1,u,300000.0,S,Biggin,8/10/2016,2.5,3067.0,...,1.0,1.0,0.0,<NA>,<NA>,Yarra,-37.80080,144.99730,Northern Metropolitan,4019.0
10,Abbotsford,411/8 Grosvenor St,2,u,700000.0,VB,Jellis,12/11/2016,2.5,3067.0,...,2.0,1.0,0.0,<NA>,<NA>,Yarra,-37.81100,145.00670,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13569,Wantirna South,12 Armagh Cr,4,h,1323000.0,S,Barry,26/08/2017,14.7,3152.0,...,2.0,2.0,551.0,<NA>,<NA>,Not Applicable,-37.87608,145.22390,Eastern Metropolitan,7082.0
13570,Wantirna South,34 Fewster Dr,3,h,970000.0,S,Barry,26/08/2017,14.7,3152.0,...,2.0,2.0,674.0,<NA>,<NA>,Not Applicable,-37.88360,145.22805,Eastern Metropolitan,7082.0
13574,Westmeadows,9 Black St,3,h,582000.0,S,Red,26/08/2017,16.5,3049.0,...,2.0,2.0,256.0,<NA>,<NA>,Not Applicable,-37.67917,144.89390,Northern Metropolitan,2474.0
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,<NA>,1981.0,Not Applicable,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,<NA>,1997.0,Not Applicable,-37.85274,144.88738,Western Metropolitan,6380.0

In [83]:
(
    df
    .filter(like='Year')
    .pipe( lambda df_: df_[df_.gt(2000).any(axis='columns') ])
)

       YearBuilt
4         2014.0
11        2005.0
12        2009.0
21        2010.0
24        2013.0
...          ...
13526     2008.0
13541     2014.0
13556     2003.0
13557     2012.0
13572     2006.0

[1736 rows x 1 columns]